In [1]:
#Carregando o conjunto de dados
import pandas as pd
arquivo = pd.read_csv('D:/DidaticaTech/wine_dataset.csv')

In [2]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
arquivo['style'] = arquivo['style'].replace('red', 0)

In [4]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [5]:
#Separando as variáveis entre preditoras e variável alvo
y = arquivo['style']
x = arquivo.drop('style', axis = 1)

In [6]:
from sklearn.model_selection import train_test_split

#Criando os conjuntos de dados de treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [7]:
arquivo.shape

(6497, 13)

In [9]:
from sklearn.ensemble import ExtraTreesClassifier
#Criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)


#Imprimindo resultados:
resultado = modelo.score(x_teste,y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9964102564102564

In [10]:
y_teste[400:403]

3298    1
179     0
5246    1
Name: style, dtype: int64

In [11]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
3298,6.3,0.26,0.29,2.2,0.043,35.0,175.0,0.99180,3.38,0.43,11.6,6
179,8.8,0.61,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,5
5246,6.4,0.29,0.24,3.2,0.037,31.0,95.0,0.98942,2.90,0.66,12.6,7

In [12]:
previsoes = modelo.predict(x_teste[400:403])

In [13]:
previsoes

array([1, 0, 1], dtype=int64)