In [2]:
import pandas as pd
alunosDIC = {'Nome':['Aline', 'Juliana', 'Thaís', 'Viviane'], 
           'Nota':[4, 7, 5.5, 9], 
           'Aprovada':['Não', 'Sim', 'Não', 'Sim']}

In [3]:
alunosDF = pd.DataFrame(alunosDIC)

In [5]:
print(alunosDF)

      Nome  Nota Aprovada
0    Aline   4.0      Não
1  Juliana   7.0      Sim
2    Thaís   5.5      Não
3  Viviane   9.0      Sim

In [6]:
alunosDF.head()

      Nome  Nota Aprovada
0    Aline   4.0      Não
1  Juliana   7.0      Sim
2    Thaís   5.5      Não
3  Viviane   9.0      Sim

In [7]:
alunosDF.shape

(4, 3)

In [8]:
alunosDF.describe()

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000