In [1]:
import pandas as pd
dados = pd.read_excel('D:/DidaticaTech/Arquivo1.xlsx');

In [2]:
print(dados);

   Números Letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h

In [4]:
dados.head()

   Números Letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e

In [5]:
dados.head(8)

   Números Letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h