In [1]:
import pandas as pd #importa a biblioteca pandas
df = pd.read_csv('D:/DidaticaTech/GSPC.csv') #usa a função .read_csv para abrir o dataset
df.head() #exibe as cinco primeiras linhas do dataset

         Date   Open   High    Low  Close  Adj Close   Volume
0  1950-01-03  16.66  16.66  16.66  16.66      16.66  1260000
1  1950-01-04  16.85  16.85  16.85  16.85      16.85  1890000
2  1950-01-05  16.93  16.93  16.93  16.93      16.93  2550000
3  1950-01-06  16.98  16.98  16.98  16.98      16.98  2010000
4  1950-01-09  17.08  17.08  17.08  17.08      17.08  2520000

In [2]:
df = df.drop('Date', axis = 1) #retira a coluna Date do dataset

In [3]:
df[-2::] #conferência das últimas duas linhas do dataset

#as duas últimas linhas serão separadas em dois datasets: Hoje.csv e Futuro.csv

,Open,High,Low,Close,Adj Close,Volume
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000
17217,2753.250000,2772.389893,2748.459961,2772.350098,2772.350098,3651640000

In [4]:
#a variável amanha irá receber a última linha do dataset
amanha = df[-1::]
amanha

#amanha = df[-10::]
#amanha.to_csv('D:/DidaticaTech/Futuro.csv', index=False)

          Open         High          Low        Close    Adj Close      Volume
17217  2753.25  2772.389893  2748.459961  2772.350098  2772.350098  3651640000

In [5]:
#variável base para conter todo o dataset, menos a última linha
base = df.drop(df[-1::].index, axis = 0)
base.tail() #comando que mostra as últimas cinco linhas da base de dados

#base = df.drop(df[-10::].index, axis = 0)
#base.to_csv('D:/DidaticaTech/Hoje.csv', index=False)

,Open,High,Low,Close,Adj Close,Volume
17212,2702.429932,2729.340088,2702.429932,2724.010010,2724.010010,3561050000
17213,2720.979980,2722.500000,2700.679932,2705.270020,2705.270020,4235370000
17214,2718.699951,2736.929932,2718.699951,2734.620117,2734.620117,3684130000
17215,2741.669922,2749.159912,2740.540039,2746.870117,2746.870117,3376510000
17216,2748.459961,2752.610107,2739.510010,2748.800049,2748.800049,3517790000

In [ ]:
base['target'] = base['Close'][1:len(base)].reset_index(drop=True)
base.tail()

In [ ]:
prev = base[-1::].drop('target', axis = 1)
prev