In [1]:
import pandas as pd
candidatosDIC = {'Nome':["Thiago", "Andressa", "Gabriel", "João", "Marina"], 
                'Nota':[7, 5.5, 5, 9, 8], 
                'Aprovado':['Sim', 'Não', 'Não', 'Sim', 'Sim']}

In [2]:
candidatosDF = pd.DataFrame(candidatosDIC)

In [3]:
print(candidatosDF)

       Nome  Nota Aprovado
0    Thiago   7.0      Sim
1  Andressa   5.5      Não
2   Gabriel   5.0      Não
3      João   9.0      Sim
4    Marina   8.0      Sim

In [4]:
candidatosDF['Nome']

0      Thiago
1    Andressa
2     Gabriel
3        João
4      Marina
Name: Nome, dtype: object

In [5]:
candidatosDF['Nota']

0    7.0
1    5.5
2    5.0
3    9.0
4    8.0
Name: Nota, dtype: float64

In [6]:
candidatosDF['Aprovado']

0    Sim
1    Não
2    Não
3    Sim
4    Sim
Name: Aprovado, dtype: object

In [7]:
candidatosDF.loc[[0]]

     Nome  Nota Aprovado
0  Thiago   7.0      Sim

In [8]:
candidatosDF.loc[[3]]

   Nome  Nota Aprovado
3  João   9.0      Sim

In [9]:
candidatosDF.loc[[1,4]]

       Nome  Nota Aprovado
1  Andressa   5.5      Não
4    Marina   8.0      Sim

In [10]:
candidatosDF.loc[2:4]

      Nome  Nota Aprovado
2  Gabriel   5.0      Não
3     João   9.0      Sim
4   Marina   8.0      Sim

In [12]:
candidatosDF.loc[candidatosDF['Nome']=='Gabriel']

      Nome  Nota Aprovado
2  Gabriel   5.0      Não

In [13]:
candidatosDF.loc[candidatosDF['Aprovado']=='Sim']

     Nome  Nota Aprovado
0  Thiago   7.0      Sim
3    João   9.0      Sim
4  Marina   8.0      Sim